<div class="header-principal" style="text-align: center;">
  <br>
  <h2>
    Money Control HN
  </h2>
  <h1>
    <progress id="file" [value]="salidas" [max]="entradas"></progress>
  </h1>
  <h6 class="text-center">
    Entradas {{entradas |  currency: 'L. ' }} | Salidas {{salidas |  currency: 'L. ' }} 
    <br>
    Saldo {{entradas-salidas |  currency: 'L. ' }} 
  </h6>
  <h1>
    <span class="icon-money"></span>
  </h1>
</div>
<div class="menu-principal">
  <div class="container">
    <br>
    <button (click)="Transaccion()" class="btn btn-outline-primary" >
      <span class="icon-list">Transacciones</span>
    </button>
    <button (click)="Entrada()" class="btn btn-outline-primary" style="margin-left: 10px;">
      <span class="icon-down">Entradas</span>
    </button>
    <button (click)="Salida()" class="btn btn-outline-primary" style="margin-left: 10px;">
      <span class="icon-up">Salidas</span>
    </button>
    <button (click)="Categorias()" class="btn btn-outline-primary" style="margin-left: 10px;">
      <span class="icon-layers">Presupuestos</span>
    </button>
    <button (click)="Alertas()" class="btn btn-outline-primary" style="margin-left: 10px;">
      <span class="icon-bell">Alertas</span>
    </button>
    <button (click)="Transaccion()" class="btn btn-outline-primary" style="margin-left: 10px;">
      <span class="icon-credit-card">Tarjetas</span>
    </button>
    <div class="float-right">
      <button (click)="CerrarSesion()" class="btn btn-outline-primary">
        <span class="icon-user">Cerrar Sesión</span>
      </button>
    </div>
    <br>
    <br>
  </div>
</div>

<router-outlet></router-outlet>