.login-container {
    background: #04418C;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
}

.forgot {
    text-decoration: underline
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

.login-container{
    position: relative;
    padding-top: 150px;
    background-image: url("/assets/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}

.login-container .wallpaper{
    backdrop-filter: blur(3px);
    min-height: 100%;
}

.login-container .container{
    max-width: 600px;
}

.login-container .logo{
    width: 100%;
    margin-top: 60px;
}

.login-container .card {
    background-color: rgba(100%, 100%, 100%, 75%);
}

.login-container .boton-login{
    margin-right: 25px;
}

.login-container .botoninfo {
    color: #007bff;
    cursor: pointer;
}
