<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h3>{{titulo}}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4" *ngIf="chartListo">
                    <lbd-chart
                    [title]="'Gastos por categoría'"
                    [chartClass]="'ct-perfect-fourth'"
                    [chartType]="emailChartType"
                    [chartData]="emailChartData"
                    [legendItems]="emailChartLegendItems">
                  </lbd-chart>
                </div>
            </div>
            <br>
            <div class="row"> 
                <div class="col-md-4">Fecha</div>
                <div class="col-md-2">Monto</div>
                <div class="col-md-4">Descripción</div>
            </div>
            <div class="row" 
                [ngClass]="{ 'entrada': (transaccion.tipo == 'E')}"
                *ngFor="let transaccion of transacciones">
                <div class="col-md-4">{{transaccion.fecha | date}}</div>
                <div class="col-md-2">{{transaccion.monto |  currency: 'L. ' }}</div>
                <div class="col-md-4">
                    <small class="badge badge-pill badge-primary">
                        {{transaccion.categoria}}
                    </small>
                    {{transaccion.descripcion}}
                </div>
                <div class="col-md-2 text-right">
                    <button (click)="editar(transaccion.id)" class="btn-warning">
                        <span class="icon-edit"></span>
                    </button>
                    <button (click)="eliminar(transaccion.id)" class="btn-danger">
                        <span class="icon-cancel-circled2"></span>
                    </button>
                </div>
            </div>
                    
            <a type="button" (click)="nueva()" class="btn btn-primary nuevo">
                <span class="icon-plus"></span>
            </a>
        </div>
        <div class="card-header">
            <div class="row"> 
                <div class="col-md-4">Total</div>
                <div class="col-md-2">{{ total |  currency: 'L. ' }}</div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <br><br>
</div>