
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            Alertas
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="alertas">Descripción</label>
                  <div class="controls">
                    <div class="input-group">
                      <input type="text" class="form-control" [(ngModel)]="descripcion">     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="col-form-label" for="alertas">Fecha</label>
                    <div class="controls">
                      <div class="input-group">
                        <input type="date" class="form-control" [(ngModel)]="fecha">     
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="col-form-label" for="alertas">Repetir</label>
                    <div class="controls">
                      <div class="input-group">
                        <select class="form-control" [(ngModel)]="repetir">
                          <option value="">Ninguno</option>
                          <option value="Semanal">Semanal</option>
                          <option value="Mensual">Mensual</option>
                          <option value="Anual">Anual</option>
                        </select>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-3">
                <button class="btn btn-primary" (click)="guardarDatos()" >
                  Guardar
                </button>
                <button class="btn btn-secondary" (click)="nuevo()" >
                  Nuevo
                </button>
              </div>
            </div>
          </div>
        </div>
    <br>
    <div class="card">
        <div class="card-header">
            Lista de alertas
        </div>
        <div class="card-body">
            <div class="row"> 
                <div class="col-md-3">Descripción</div>
                <div class="col-md-3">Fecha</div>
                <div class="col-md-3">Repetir</div>
            </div>
            <br>
            <div class="row" *ngFor="let alerta of alertas">
                <p class="col-md-3">{{alerta.descripcion}}</p>
                <p class="col-md-3">{{alerta.fecha}}</p>
                <p class="col-md-3">{{alerta.repetir}}</p>
                <div class="col-md-3">
                    <button class="btn-warning" (click)="editarDatos(alerta)">
                        <span class="icon-edit"></span>
                    </button>
                    <button class="btn-danger" (click)="eliminar(alerta)">
                        <span class="icon-cancel-circled2" ></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>